<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>title</title>
  {{#cssLink cssHref}}
  {{/cssLink}}
</head>
<body>
{{{body}}}
{{#jsScript jsSrc}}
{{/jsScript}}
</body>
</html>